* {
  box-sizing: border-box;
}

body {

  overflow: hidden;
}

.wrap {
  height: 100vh;
  perspective-origin: 50% 50%;
}

.svg {
  position: absolute;
  bottom: -100vh;
  // transform-style: preserve-3d;
  transform-style: flat;
}

$total: 10;

@for $i from 1 through $total {
  $scale: random(2) - .6;

  .svg:nth-child(#{$i}) {
    left: random(120) * 1% - 40;
    animation: raise#{$i} 6+random(15)+s linear infinite;
    animation-delay: random(5) - 5 + s;
    transform: scale(.3 * $i - .6) rotate(random(10) + deg);
    z-index: $i - 7;
    filter: blur($i - 10 + px);

    @keyframes raise#{$i} {
      to {
        bottom: 150vh;
        transform: scale(.1 * $i - 0.3) rotate(random(90) + deg);
      }
    }
  }
}